{extend name="public/index" /}

{block name="main"}
<div class="banner">
    <img src="__STATIC__/portal/imgs/zx/banner2.png" alt="Logo" class="img-fluid">
</div>
<div class="container">
    <div class="module-1">
        <div class="module-title my-5 text-center">我们的服务</div>
        <div class="row mb-5">
            <div class="col-3">
                <div class="card server-card shadow">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s1.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4 text-center">短视频推广</h4>
                        <div class="server-card-content px-2">
                            <Ul>
                                <li>账号搭建</li>
                                <li>视频内容策划</li>
                                <li>上门拍摄</li>
                                <li>包装剪辑</li>
                                <li>视频配音</li>
                                <li>后期处理</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card server-card shadow">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s2.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4  text-center">短视频代运营</h4>
                        <div class="server-card-content">

                            <Ul>
                                <li>账号策划</li>
                                <li>企业IP定位</li>
                                <li>创意文案</li>
                                <li>视频拍摄制作</li>
                                <li>数据监测</li>
                                <li>运营数据分析</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card server-card shadow">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s3.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4  text-center">广告投放</h4>
                        <div class="server-card-content">

                            <Ul>
                                <li>Dou+推广</li>
                                <li>信息流广告</li>
                                <li>达人探店</li>
                                <li>抖音开屏广告</li>
                                <li>直播间广告</li>
                                <li>小红书广告</li>
                                <li>抖音关键字排名</li>
                            </Ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card server-card shadow">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s4.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4 text-center">拍摄剪辑</h4>
                        <div class="server-card-content">
                            <Ul>
                                <li>产品视频</li>
                                <li>种草视频</li>
                                <li>企业宣传片</li>
                                <li>剧情短视频</li>
                                <li>个人IP视频</li>
                                <li>模特口播视频</li>
                                <li>信息流视频</li>
                                <li>高端TCT</li>
                            </Ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6">
                <img src="__STATIC__/portal/imgs/fw/card1.png" alt="Logo" class="img-fluid">
            </div>
            <div class="col-6">
                <div class="server-card-title2 mb-4">短视频推广</div>
                <div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">01.账号定位分析</p>
                        <p class="server-card-content2">从短视频运营的角度出发，分析符合账号定位的推广内容（账号定位、客户人群、产品特点、定位分析、变现路径分析）</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">02.文案和策划</p>
                        <p class="server-card-content2">整体文案规划，根据品牌优势、产品特点、目标人群，确定拍摄视频的
                            方向和主题，为您打造有创意有新意的抖音短视频内容及剧本，让商家
                            以低成本创造超高价值的效果</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">03.拍摄、剪辑</p>
                        <p class="server-card-content2">5年专业拍摄师上门拍摄，拥有佳能、SONY、大疆无人机航拍等设备，
                            另配备轨道、摇臂、灯光等多种辅助拍摄器材；后期剪辑、视频配音使
                            用苹果编辑机工作站高端达芬奇调色设备等</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6 order-last">
                <img src="__STATIC__/portal/imgs/fw/card2.png" alt="Logo" class="img-fluid">
            </div>
            <div class="col-6">
                <div class="server-card-title2 mb-4">短视频代运营</div>
                <div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">01.一体化解决文案</p>
                        <p class="server-card-content2">从账号方向定位，IP打造，脚本策划，拍摄剪辑，账号维护到粉丝变现，
                            提供一站式全案短视频代运营服务</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">02.量身订制</p>
                        <p class="server-card-content2">每个项目配备导演、摄影、包装、剪辑、演员、编剧、运营为输出高品质
                            的创意视频保驾护航。多角度、多维度、多方位AI大数据用户分析，为品
                            牌量身定制短视频运营方案</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">03.精准投放</p>
                        <p class="server-card-content2">根据品牌需求，定制专属的短视频运营方案+精确投放组合，媒体、网红
                            达人等多种资源推广整合，快速打造现象级营销</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6">
                <img src="__STATIC__/portal/imgs/fw/card3.png" alt="Logo" class="img-fluid">
            </div>
            <div class="col-6">
                <div class="server-card-title2 mb-4">广告投放</div>
                <div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">01.投放类型</p>
                        <p class="server-card-content2">信息流广告、单页信息流广告、原生信息流广告、直播间引流广告</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">02.海量客源</p>
                        <p class="server-card-content2">抖音涵盖众多企业主用户，亿级日活帮助您拓客市场资源</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">03.精准获客</p>
                        <p class="server-card-content2">依靠算法，精准定位您的客户，触达不同场景下的目标用户</p>
                    </div>
                    <div class="mb-4">
                        <p class="server-card-title2-subtitle">04.智能营销</p>
                        <p class="server-card-content2">多种智能产品工具，解决营销场景多个难题，提高招商效率</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <img src="__STATIC__/portal/imgs/btn.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="module-2 mb-5">
        <div class="module-title my-5 text-center">合作流程</div>
        <img src="__STATIC__/portal/imgs/fw/p1.png" alt="" class="img-fluid">
    </div>

</div>
{/block}
