<div class="row row-cols-6 align-items-center">
    {foreach ($cooperate_customers as $key => $val)}
    <div class="col mb-4 text-center company-list">
        <img src="{$val.logo|default='static/common/images/nopic.jpg'}" class="img-fluid" alt="{$val.title}" title="{$val.title}" style="max-height: 84px;" />
    </div>
    {/foreach}
</div>
<script type="text/javascript">
    $(function(){
        // company-list
        $('.company-list:odd').attr("data-am-scrollspy","{animation: 'slide-top', delay: 100}")
        $('.company-list:even').attr("data-am-scrollspy","{animation: 'slide-bottom', delay: 100}")
    })
</script>
