<div class="foot">
    <nav class="navbar-expand-sm bg-dark navbar-dark py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="f-title mb-4">网站导航</div>
                    <ul class="sp-ul">
                        <li>网站首页</li>
                        <li>短视频代运营</li>
                        <li>拍摄剪辑</li>
                        <li>知识技巧</li>
                        <li>短视频推广</li>
                        <li>广告投放</li>
                        <li>成功案例</li>
                        <li>联系我们</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="f-title mb-4">联系我们</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent border-0 p-0">全国统一服务热线： {:sysconfig('site', 'contact_service_tel')}</li>
                        <li class="list-group-item bg-transparent border-0 p-0"> 邮箱：{:sysconfig('site', 'contact_email')}</li>
                        <li class="list-group-item bg-transparent border-0 p-0"> {:sysconfig('site', 'contact_company')}</li>
                        <li class="list-group-item bg-transparent border-0 p-0"> 地址：{:sysconfig('site', 'contact_address')}</li>
                        {if sysconfig('site', 'contact_company2')}
                        <li class="list-group-item bg-transparent border-0 p-0 mt-3">{:sysconfig('site', 'contact_company2')}</li>
                        {/if}
                        {if sysconfig('site', 'contact_address2')}
                        <li class="list-group-item bg-transparent border-0 p-0">地址：{:sysconfig('site', 'contact_address2')}</li>
                        {/if}
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <img src="__STATIC__/portal/imgs/code4.png" alt="Logo" class="img-fluid me-4 mb-4">
                    <img src="__STATIC__/portal/imgs/code1.png" alt="Logo" class="img-fluid mb-4">
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-white-50 bg-dark border-top border-secondary py-2" style="font-size: 13px;">
        <div class="container">
            网站备案号：<a target="_blank" class="text-reset" href="http://www.miitbeian.gov.cn" title="{:sysconfig('site', 'site_beian')}">{:sysconfig('site','site_beian')}</a>
        </div>
    </div>
</div>

<!--回到顶部-->
<div class="list-group side-tool position-fixed shadow zindex-fixed text-center" style="bottom: 10%; right: 2px; width: 80px;">
    <a href="javascript:;" class="list-group-item position-relative app-phone p-2 bg-secondary-subtle" title="微信咨询">
        <img src="__STATIC__/common/images/wechat.png" />
        <div class="title text-primary p-1" style="font-size: 12px">微信咨询</div>
        <div class="app-download-content zindex-fixed bg-white position-absolute overflow-hidden text-center p-2 shadow" style=" color: #666; border: 1px solid #ddd; height: 200px; width: 170px; top: 0; right: 80px;">
            <img src="__STATIC__/portal/imgs/wechat.png" class="m-0" style="width: 160px; height: 160px;"/>
            <div style="line-height: 20px;">微信扫码咨询</div>
        </div>
    </a>
    <a class="list-group-item p-2 app-phone" href="javascript:;" title="电话咨询">
        <img src="__STATIC__/common/images/phone.png" />
        <div class="title p-1" style="font-size: 12px;">电话咨询</div>
        <div class="app-download-content d-none zindex-fixed bg-white position-absolute overflow-hidden text-center p-2 shadow" style=" color: #666; border: 1px solid #ddd; height: 60px; width: 170px; top: 0; right: 80px;">
            <div style="line-height: 40px; " class="d-flex align-items-center">
                <img src="__STATIC__/common/images/phone.png" style="width: 30px; height: 20px;" class="" />
                <div class="ms-1 fs-6 d-flex">13630017240</div>
            </div>
        </div>
    </a>
    <a class="list-group-item lqp-top p-2" href="#top" title="回到顶部">
        <i class="fa-solid fa-angles-up fs-5 text-secondary"></i>
        <div class="title p-1" style="font-size: 12px;">回到顶部</div>
    </a>
</div>

<script>
    $('.side-tool > .list-group-item').hover(function () {
        $(this).addClass('bg-secondary-subtle')
        $(this).find('.title').addClass('text-primary')
    }, function () {
        $(this).removeClass('bg-secondary-subtle')
        $(this).find('.title').removeClass('text-primary')
    });
    $('.app-phone').hover(function(){
        $(this).find('.app-download-content').removeClass('d-none');
    }, function() {
        $(this).find('.app-download-content').addClass('d-none');
    })
    //监听滚动条位置
    let scrollBar = function () {
        let scroll_top = 0;
        if (document.documentElement && document.documentElement.scrollTop) {
            scroll_top = document.documentElement.scrollTop;
        } else if (document.body) {
            scroll_top = document.body.scrollTop;
        }
        if (scroll_top > 800) {
            $('.lqp-top').removeClass('d-none');
        } else {
            $('.lqp-top').addClass('d-none');
        }
    }
    scrollBar();
    $(window).scroll(function () {
        scrollBar();
    });
</script>
