<script src="__STATIC__/plugs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="__STATIC__/plugs/wow/wow_1.js"></script>
<script>
    let wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100,
        }
    );
    wow.init();
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?9daf51d8119752b1ff8efd4b843b0008";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
