{extend name="public/index" /}

{block name="main"}
<div class="banner mb-5 wow fadeIn" data-wow-delay="0">
  <img src="__STATIC__/portal/imgs/zx/banner2.png" alt="" class="img-fluid">
</div>
<div class="module-title my-5 text-center" data-wow-delay="0.1s">用原创让想法落地</div>

<div class="container list-container"></div>
{/block}

{block name="script"}
<script src="__STATIC__/portal/js/list.js"></script>
<script type="text/javascript">
  $(function () {
    new List().init()
  });
</script>
{/block}
