<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="__STATIC__/plugs/bootstrap-5.2.3/css/bootstrap.min.css">
  <script src="__STATIC__/plugs/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="__STATIC__/portal/css/index.css">

</head>

<body>
<div class="header container">
  <header class="py-3">
    <div class="row">
      <div class="col-4">
        <a href="#"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img src="__STATIC__/portal/imgs/logo.png" alt="Logo" class="img-fluid">
        </a>
      </div>
      <div class="col-8">
        <ul class="nav nav-pills justify-content-around">
          <li class="nav-item"><a href="/index.html" class="nav-link" aria-current="page">首页</a></li>
          <li class="nav-item"><a href="/service.html" class="nav-link">服务</a></li>
          <li class="nav-item"><a href="/cases.html" class="nav-link active">案例</a></li>
          <li class="nav-item"><a href="/share.html" class="nav-link">分享</a></li>
          <li class="nav-item"><a href="/about.html" class="nav-link">我们</a></li>
          <li class="nav-item"><a href="/contact.html" class="nav-link">联系</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>
<div class="banner mb-5">
  <img src="__STATIC__/portal/imgs/zx/banner2.png" alt="" class="img-fluid">
</div>
<div class="module-title my-5 text-center">用原创让想法落地</div>

<div class="tabs container mb-3">
  <ul class="nav tabs-lqp" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#menu0">短视频拍摄</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu1">短视频运营</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu2">小红书案例</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu3">短视频推广</a>
    </li>
  </ul>
</div>
<!-- Tab panes -->
<div class="tab-content container">
  <div id="menu0" class="container tab-pane active"><br>
    <div class="row">
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c1.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c2.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c3.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c4.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c5.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c6.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div id="menu1" class="container tab-pane fade"><br>
    <div class="row">
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c1.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="menu2" class="container tab-pane fade"><br>
    <div class="row">
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c2.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="menu3" class="container tab-pane fade"><br>
    <div class="row">
      <div class="col-4 mb-4">
        <div>
          <a href="./cases/info.html">
            <img src="__STATIC__/portal/imgs/al/c3.png" alt="" class="img-fluid">
            <div class="case-card my-2">中大至正</div>
            <div class="case-cardsub">短视频代运营案例</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pages mt-4 mb-5">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="javascript:void(0);">上一页</a></li>
      <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);">下一页</a></li>
    </ul>
  </div>
</div>
</div>

<div class="foot">
  <nav class="navbar-expand-sm bg-dark navbar-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="f-title mb-4">网站导航</div>
          <ul class="sp-ul">
            <li>网站首页</li>
            <li>短视频代运营</li>
            <li>拍摄剪辑</li>
            <li>知识技巧</li>
            <li>短视频推广</li>
            <li>广告投放</li>
            <li>成功案例</li>
            <li>联系我们</li>
          </ul>
        </div>
        <div class="col-4">
          <div class="f-title mb-4">联系我们</div>
          <ul>
            <li>全国统一服务热线： 400-111-1111 </li>
            <li> 邮箱：384138166@qq..com </li>
            <li> 地址：深圳市宝安区民生一路18号 </li>
          </ul>
        </div>
        <div class="col-4">
          <img src="__STATIC__/portal/imgs/code4.png" alt="Logo" class="img-fluid me-4 mb-4">
          <img src="__STATIC__/portal/imgs/code1.png" alt="Logo" class="img-fluid mb-4">
        </div>
      </div>
    </div>
  </nav>
</div>

</body>

</html>
