{extend name="public/index" /}

{block name="main"}
<div class="banner">
    <img src="__STATIC__/portal/imgs/zx/banner2.png" alt="Logo" class="img-fluid">
</div>
<div class="container">
    <div class="module-title my-5 text-center">
        企业宣传片-天孚通信
    </div>
    <div class="infos-content mb-5">
        上海天孚光通信股份有限公司（简称TFC）是一家集研发、生产、销售于一体的中外合资高新技术企业，是业界领先的光网络连接精密元器件制造商。公司始终坚持高端市场定位和高品质产品理念，
        产品广泛应用于：电信城域网、骨干网、接入网；数据中心、互联网大数据存储、云计算、光纤到户等领域，我们的产品在很大程度上决定了光网络信息传输的可靠性。
    </div>
    <div class="infos-video mb-5 px-5">
        <video width="400" controls>
            <source src="mov_bbb.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>
{/block}
