{extend name="public/index" /}

{block name="main"}
<div class="banner mb-5 wow fadeIn" data-wow-delay="0">
    <img src="__STATIC__/portal/imgs/zx/banner2.png" alt="Logo" class="img-fluid">
</div>
<div class="container">
    <div class="content-tips my-5" data-wow-delay="0.1s">
        素未谋面，却能心照不宣
    </div>
    <div class="mb-5 position-relative mapbox">
        <img src="__STATIC__/portal/imgs/lx/map.png" alt="" class="img-fluid wow slideInLeft" data-wow-delay="0">
        <div class="contact-me shadow wow fadeIn">
            <div class="row ps-0">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="mb-5">
                        <div style="font-size: 18px; color: #030303;">CONTACT</div>
                        <div style="font-size: 24px; color: #030303;">联系我们</div>
                    </div>
                    <div class="pt-4" style="color: #575757;font-size: 18px;">
                        售前咨询: 010-68703788<br/>
                        售后服务: 010-68703766
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="mb-4" style="font-size: 24px; color: #575757;">深圳市易点市场研究咨询有限公司</div>
                    <div class="mb-4" style="font-size: 18px; color: #575757;">地址：深圳市宝安区民生一路18号5栋二层</div>
                    <div class="mb-4" style="height: 2px;background-color: #ccc; width: 85%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script>
     $(function (){
         if (
             /AppleWebKit.*Mobile/i.test(navigator.userAgent) ||
             /MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(
                 navigator.userAgent
             )
         ) {
             if (window.location.href.indexOf("?mobile") < 0) {
                 try {
                     if (
                         /Android|Windows Phone|webOS|iPhone|iPod|BlackBerry|iPad/i.test(
                             navigator.userAgent
                         )
                     ) {
                         console.log('手机')
                         $('.contact-me').removeClass('position-absolute end-0 content-card')
                     }
                 } catch (e) {
                     console.log('这是')
                 }
             }
         }else{
             console.log('web')
             $('.contact-me').addClass('position-absolute end-0 content-card')
         }
     })
</script>
{/block}
