{extend name="public/index" /}

{block name="main"}
{include file="public/about" /}
<div class="about-cus container">
    <div class="years d-flex">
        <div class="years-1 wow slideInDown" data-wow-delay="0.1s">10</div>
        <div class="years-2">年</div>
    </div>
    <div class="years sub-title">
        我们已成功为上千家企业提供新媒体营销解决方案<br />
        未来将继续专注于技术创新，服务升级，满足企业一站式市场营销需求
    </div>
    {include file="public/cooperate_customers" /}
</div>
<div class="about-serve pb-5">
    <div class="container">
        <div class="row">
            <div class="col offset-2">
                <div class="s-title wow lightSpeedIn" data-wow-delay="0.1s">
                    专心笃志<br />我们不变的服务志向
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pe-5">
                <div class="s-ultitle">
                    积极沟通
                </div>
                <div class="s-ulcontent wow fadeIn"  data-wow-delay="0">
                    <ul>
                        <li>我们用服务给予客户短视频营销定制的体验。<br/>
                            从您成为我们客户的第一天，<br/>
                            您将会有回家的温暖！<br/>
                            我们注重每一个细节，<br/>
                            以原创成就行业品质！</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pe-5">
                <div class="s-ultitle">
                    颠覆思想
                </div>
                <div class="s-ulcontent wow fadeIn"  data-wow-delay="0.3s">
                    <ul>
                        <li>我们打造一个创新思维的短视频团队，<br/>
                            汇聚业内顶尖拍摄、剪辑、文案、运营成员
                            让您的短视频<br/>
                            从策划到转化都达到精准的营销！</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pe-5" >
                <div class="s-ultitle">
                    突破常规
                </div>
                <div class="s-ulcontent wow fadeIn" data-wow-delay="0.6s">
                    <ul>
                        <li>打破常规，重新演绎定制的乐趣，<br/>
                            展示对细节的热爱<br/>
                            敢做行业先锋，<br/>
                            与您共创辉煌引领行业前潮</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-tips" data-wow-delay="0.1s">
    过往皆为序章  未来一切可期
</div>
<div class="text-center about-btn">
    <img src="__STATIC__/portal/imgs/btn.png" alt="" class="img-fluid">
</div>
{/block}
