<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{$keyword|default=''}" />
    <meta name="description" content="{$description|default=''}" />
    <title>易点咨询 - {$title}</title>
    {include file="public/meta" /}
</head>
<body>
<div style="position: relative; min-height: 68px;">
    <!--    导航栏开始-->
    <header class="navbar  navbar-expand-lg navbar-dark bd-navbar sticky-top" style="padding-bottom: 60px;position: absolute; top: 0;">
        <nav class="navbar bg-dark fixed-top">
<!--            home-top-->
            <div class="container home-toggler">
                <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
                    <img src="{:sysconfig('site','home_logo_image')}" alt="Logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                            <img src="{:sysconfig('site','home_logo_image')}" alt="Logo" class="img-fluid">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body home-header-color">
                        <ul class="navbar-nav justify-content-around flex-grow-1 px-5">
                            <li class="nav-item">
                                <a href="/index.html" class="nav-link {if ($controller === 'index')}active{/if}" aria-current="page">首页</a>
                            </li>
                            <li class="nav-item">
                                <a href="/service.html" class="nav-link {if ($controller === 'service')}active{/if}">服务</a>
                            </li>
                            <li class="nav-item">
                                <a href="/cases.html" class="nav-link {if ($controller === 'cases')}active{/if}">案例</a>
                            </li>
                            <li class="nav-item">
                                <a href="/share.html" class="nav-link {if ($controller === 'share')}active{/if}">分享</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about.html" class="nav-link {if ($controller === 'about')}active{/if}">我们</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact.html" class="nav-link {if ($controller === 'contact')}active{/if}">联系</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--导航栏结束-->
    <!--轮播图-->
    {if $carousel}
    <div id="carouselExampleControls" class="carousel slide home-banner wow fadeIn" data-bs-ride="carousel">
        <div class="carousel-inner">
            {foreach $carousel as $key => $val}
            <div class="carousel-item {if $key === 0}active{/if}">
                <img src="{$val.img}" class="d-block w-100 h-auto" alt="" style=" max-height: 1095px">
            </div>
            {/foreach}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {/if}
    <!--轮播图-->
</div>
<div class="module-1">
    <div class="container mb-5">
        <div class="module-title my-5 text-center">企业为什么要布局短视频平台？</div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center wow slideInLeft">
                <img src="__STATIC__/portal/imgs/dy/d1.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 dy-content wow slideInRight">
                <ul>
                    <li>1.新媒体流量流行的时代。短视频变得越来越强大。</li>
                    <li>2.很多企业产品单一，成本高，线下流通率低。</li>
                    <li>3.企业做短视频营销能够最大程度的出现在用户眼前。</li>
                    <li>4.短视频营销更生动，更吸引眼球。</li>
                    <li>5.从视频行业的角度来看，短视频的商业价值是不可估量的。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center m-0" style="background-color: #f8f8f8;">
        <div class="col-lg-3 col-md-6 col-sm-12 col-number">
            <div class="py-5 border-end">
                <div style="color: #cc0033; font-size: 36px;padding: 20px 0;" ><span class="number" data-count="8"></span><span>亿</span></div>
                <div style="color: #030303; font-size: 18px;padding-bottom: 20px;">日均活跃用户</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="py-5 border-end">
                <div style="color: #cc0033; font-size: 36px;padding: 20px 0;" ><span class="number" data-count="6"></span><span>亿</span></div>
                <div style="color: #030303; font-size: 18px;padding-bottom: 20px;">日均视频搜索用户</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="py-5 border-end">
                <div style="color: #cc0033; font-size: 36px;padding: 20px 0;" ><span class="number" data-count="9000"></span><span>亿</span></div>
                <div style="color: #030303; font-size: 18px;padding-bottom: 20px;">视频日均播放量</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="py-5">
                <div style="color: #cc0033; font-size: 36px;padding: 20px 0;" ><span class="number" data-count="3000"></span><span>W</span></div>
                <div style="color: #030303; font-size: 18px;padding-bottom: 20px;">内容创作者</div>
            </div>
        </div>
    </div>
</div>
<div class="module-2">
    <div class="container mb-5">
        <div class="module-title my-5 text-center">我们可以为你做什么？</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card dy-card shadow text-center wow fadeIn" data-wow-delay="0">
                    <div class="m-3" style="height: 63px">
                        <img class="img-fluid" src="__STATIC__/portal/imgs/dy/c1.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="dy-card-title mb-4">账号定位</h4>
                        <div class="dy-card content">
                            <Ul>
                                <li>根据您的需求，专业策划账号</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card dy-card shadow text-center wow fadeIn"  data-wow-delay="0.1s">
                    <div class="m-3" style="height: 63px"><img class="img-fluid" src="__STATIC__/portal/imgs/dy/c2.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="dy-card-title mb-4">文案策划</h4>
                        <div class="dy-card content">
                            <Ul>
                                <li>结合企业/产品，确定账号内容方向</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card dy-card shadow  text-center wow fadeIn" data-wow-delay="0.2s">
                    <div class="m-3" style="height: 63px"><img class="img-fluid" src="__STATIC__/portal/imgs/dy/c3.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="dy-card-title mb-4">IP打造</h4>
                        <div class="dy-card content">
                            <Ul>
                                <li>根据内容方向，打造独特人设和账号定位</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card dy-card shadow text-center wow fadeIn" data-wow-delay="0.3s">
                    <div class="m-3" style="height: 63px"><img class="img-fluid" src="__STATIC__/portal/imgs/dy/c4.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="dy-card-title mb-4">拍摄制作</h4>
                        <div class="dy-card content">
                            <Ul>
                                <li>创意文案、短视频拍摄、剪辑，后期</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card dy-card shadow text-center wow fadeIn" data-wow-delay="0.4s">
                    <div class="m-3" style="height: 63px"><img class="img-fluid" src="__STATIC__/portal/imgs/dy/c5.png" alt=""></div>
                    <div class="card-body">
                        <h4 class="dy-card-title mb-4">数据分析</h4>
                        <div class="dy-card content">
                            <Ul>
                                <li>账号运营情况分析、优化</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card dy-card shadow  text-center wow fadeIn"  data-wow-delay="0.5s">
                    <div class="m-3" style="height: 63px"><img class="img-fluid" src="__STATIC__/portal/imgs/dy/c6.png" alt=""></div>
                    <div class="card-body ">
                        <h4 class="dy-card-title mb-4">运营维护</h4>
                        <div class="dy-card content">
                            <Ul>
                                <li>粉丝互动、转化，账号形象、主页设计</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pb-5 text-center">
            <div class="col-lg-6 offset-lg-3 col-sm-12 offset-sm-0">
                <a href="/" class="free-btn">
                    <div style="background: url('__STATIC__/portal/imgs/手指.png') center right no-repeat; background-size: 40px 40px;background-position-x: 80%;">
                        <span class="me-3" style="font-weight: 900">免费获取</span>短视频运营方案
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="dy-step text-center">
        <div class="dy-step-title py-5"><span>一站式短视频代运营服务</span><span>用营销助力企业</span> </div>
        <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0">
                    <div class="right-number">01</div>
                    <div class="">
                        <div class="dy-step-list-title">独立短视频账号</div>
                        <div class="dy-step-list-description">布局短视频流量风口</div></div>
                    <div class="right-jiantou"></div>
                </div>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="right-number">02</div>
                    <div class="">
                        <div class="dy-step-list-title">企业蓝V认证</div>
                        <div class="dy-step-list-description">企业认证账号</div></div>
                    <div class="right-jiantou"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.2s">
                    <div class="right-number">03</div>
                    <div class="">
                        <div class="dy-step-list-title">短视频拍摄</div>
                        <div class="dy-step-list-description">创意文案、拍摄、剪辑</div></div>
                    <div class="right-jiantou"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.3s">
                    <div class="right-number">04</div>
                    <div class="">
                        <div class="dy-step-list-title">短视频SEO</div>
                        <div class="dy-step-list-description">布局短视频关键词排名</div></div>
                    <div class="right-jiantou"></div>
                </div>
            </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="right-number">05</div>
                        <div class="">
                            <div class="dy-step-list-title">开通商业服务</div>
                            <div class="dy-step-list-description">展示企业产品和服务</div></div>
                        <div class="right-jiantou"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.5s">
                        <div class="right-number">06</div>
                        <div class="">
                            <div class="dy-step-list-title">短视频直播</div>
                            <div class="dy-step-list-description">短视频直播卖货</div></div>
                        <div class="right-jiantou"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.6s">
                        <div class="right-number">07</div>
                        <div class="">
                            <div class="dy-step-list-title">流量转化变现</div>
                            <div class="dy-step-list-description">关键词排名、客户咨询</div></div>
                        <div class="right-jiantou"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="d-flex justify-content-around align-items-center wow fadeIn" data-wow-delay="0.7s">
                        <div class="right-number">08</div>
                        <div class="">
                            <div class="dy-step-list-title">粉丝加微信</div>
                            <div class="dy-step-list-description">转化为私域客户</div></div>
                        <div class="right-jiantou"></div>
                    </div>
                </div>
            </div>
            <div class="row pb-5 text-center">
                <div class="col-lg-6 offset-lg-3 col-sm-12 offset-sm-0">
                    <a href="/" class="free-btn">
                        <div style="background: url('__STATIC__/portal/imgs/手指.png') center right no-repeat; background-size: 40px 40px;background-position-x: 80%;">
                            <span class="me-3" style="font-weight: 900">免费获取</span>短视频运营方案
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="module-3">
    <div class="module-1 container">
        <div class="module-title my-5 text-center">我们的服务</div>
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card server-card shadow wow fadeIn" data-wow-delay="0">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s1.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4 text-center">短视频推广</h4>
                        <div class="server-card-content px-2">
                            <Ul>
                                <li>账号搭建</li>
                                <li>视频内容策划</li>
                                <li>上门拍摄</li>
                                <li>包装剪辑</li>
                                <li>视频配音</li>
                                <li>后期处理</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card server-card shadow wow fadeIn" data-wow-delay="0.1s">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s2.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4  text-center">短视频代运营</h4>
                        <div class="server-card-content">

                            <Ul>
                                <li>账号策划</li>
                                <li>企业IP定位</li>
                                <li>创意文案</li>
                                <li>视频拍摄制作</li>
                                <li>数据监测</li>
                                <li>运营数据分析</li>
                            </Ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card server-card shadow wow fadeIn" data-wow-delay="0.2s">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s3.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4  text-center">广告投放</h4>
                        <div class="server-card-content">

                            <Ul>
                                <li>Dou+推广</li>
                                <li>信息流广告</li>
                                <li>达人探店</li>
                                <li>抖音开屏广告</li>
                                <li>直播间广告</li>
                                <li>小红书广告</li>
                                <li>抖音关键字排名</li>
                            </Ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card server-card shadow wow fadeIn" data-wow-delay="0.3s">
                    <div class="text-center mt-3"><img class="img-fluid" src="__STATIC__/portal/imgs/fw/s4.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="server-card-title mb-4 text-center">拍摄剪辑</h4>
                        <div class="server-card-content">
                            <Ul>
                                <li>产品视频</li>
                                <li>种草视频</li>
                                <li>企业宣传片</li>
                                <li>剧情短视频</li>
                                <li>个人IP视频</li>
                                <li>模特口播视频</li>
                                <li>信息流视频</li>
                                <li>高端TCT</li>
                            </Ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pb-5 text-center">
                <div class="col-lg-6 offset-lg-3 col-sm-12 offset-sm-0">
                    <a href="/" class="free-btn">
                        <div style="background: url('__STATIC__/portal/imgs/手指.png') center right no-repeat; background-size: 40px 40px;background-position-x: 80%;">
                            <span class="me-3" style="font-weight: 900">免费获取</span>短视频运营方案
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module-4">
    <div class="container">
        <div class="module-title my-5 text-center" data-wow-delay="0.1s">运营案例</div>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-3  align-items-center">
            {foreach ($cases as $key => $val)}
            <div class="col p-0 m-0 case-list wow fadeIn d-flex justify-content-center align-items-center" style="" {if ($key % 2 === 0)}data-wow-delay="0.6s"{else}data-wow-delay="0.3s"{/if}>
                <a href="{:url('/cases/info', ['id' => $val['id']])}" title="{$val.title}" target="_blank" class="p-0 text-center">
                    <img src="{$val.cover_img|default='static/common/images/nopic.jpg'}" alt="{$val.title}" class="img-fluid w-100" style="max-height: 300px;" />
                </a>
            </div>
            {/foreach}
        </div>
    </div>
</div>
<div class="module-5 mb-5">
    <div class="container">
        <div class="module-title my-5 text-center" data-wow-delay="0.1s">合作客户</div>
        {include file="public/cooperate_customers" /}
    </div>
</div>
<div class="module-6 mb-5">
    {include file="public/about" /}
</div>
<div class="module-7 mb-5">
    <div class="container">
        <div class="module-title my-5 text-center">拍摄知识</div>
        <div class="row">
            {foreach ($shotTips as $key => $val)}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card p-0 border-0 wow fadeIn" {if ($key % 2 === 0)} data-wow-delay="0.3s" {else} data-wow-delay="0.1s"{/if}>
                <div class=" d-flex justify-content-center align-items-center" style="height: 300px;">
                    <img src="{$val.cover_img|default='static/common/images/nopic.jpg'}" alt="{$val.title}" class="card-img-top img-fluid w-auto" style="max-height: 300px;">
                </div>
                    <div class="card-body">
                        <div class="text-center paishe-title mb-2 line1">
                            <a class="stretched-link text-reset" href="{:url('/ShotTips/info', ['id' => $val.id])}" title="{$val.title}" target="_blank">
                                {$val.title}
                            </a>
                        </div>
                        <div class="paishe-content line3 text-indent2">
                            {$val.description}
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>

{include file="public/footer" /}
{include file="public/script" /}
<script src="__STATIC__/portal/js/lqp.js"></script>
<script>
    $(function () {
        // 数字自增
        var numAdd = function () {
            $('.number').each(function () {
                var $this = $(this),
                    countTo = parseInt($this.attr('data-count'));
                $({ countNum:0 }).animate({countNum: countTo},
                    {
                        duration: 2000,
                        easing: 'linear',
                        step: function () {
                            $this.text(Math.floor(this.countNum));
                        },
                        complete: function () {
                            $this.text(parseInt(this.countNum).toString());
                        }
                    });
            });
        }
        numAdd()
    })

</script>
</body>
</html>
